<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sushi Restaurant</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <%- include('partials/header.ejs') %>

    <main>
        <section class="hero">
            <h1>Chào mừng đến với Sushi Restaurant!</h1>
            <div class="action-buttons">
                <a href="/dishes" class="btn-action btn-menu">
                    Thực Đơn
                </a>
                <a href="/branches" class="btn-action btn-branches">
                    Danh sách Chi nhánh
                </a>
                <a href="/customer/add-reservation" class="btn-action btn-reservation">
                    Đặt Bàn
                </a>
            </div>
        </section>
    </main>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>
